.header1 {
    margin: 10px 0px 0px;
    font-size: 24px;
}

.profile {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 30px;
}

.profile_img {
    width: 150px;
    height: 200px;
    object-fit: contain;
}
.certificate_list {
    padding: 0.2em 0em 0em 2em;
}
.certificate_list > li {
    position: relative;
    padding: 0.5em 0; /*前後の文との余白*/
    font-size: 14px;
}
.certificate_list > li:before {
    position: absolute;
    top: 10px;
    left: -20px;
    content:  "";     /* 空の要素作成 */
    width:  10px;               /* 幅指定 */
    height:  10px;              /* 高さ指定 */
    display:  inline-block;     /* インラインブロックにする */
    background-color: #444;  /* 背景色指定 */
    border-radius:  50%;        /* 要素を丸くする */
}


.table_with_time {
    padding: 0px 0.5em;
}
.table_with_time > li {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
    padding: 6px 0px;
    border-bottom: solid 1px #CCC;
}
.table_with_time > li > .time_header {
    font-size: 14px;
}
.table_with_time > li > .table_item {
    font-size: 14px;
}
